asgiref==3.11.1
cffi==2.0.0
cryptography==46.0.7
django==6.0.4
django-allauth==65.16.0
django-qrcode==0.3
djangorestframework==3.17.1
fido2==2.1.1
pillow==12.2.0
pip==26.0.1
openai==2.32.0
psycopg2==2.9.11
pycparser==3.0
factory_boy==3.3.3
pytest==9.0.2
pytest-django==4.11.1
python-dotenv==1.2.2
qrcode==8.2
sqlparse==0.5.5
